.counter {
    margin-top: 20px;
    display: block;
    z-index: 100;
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    &-btn_add {
        border-radius: 100%;
        background-color: rgb(78, 124, 223);
        padding: 4px 10px;
        border: none;
        color: white;
        line-height: 1;
    }
    &-btn_sub {
        border-radius: 100%;
        background-color: rgb(78, 124, 223);
        border: none;
        color: white;
        padding: 4px 10px;
        line-height: 1;
    }
    &-val {
        margin: 0 53px;
    }
}
