include ../components/header/header
include ../components/main/main
include ../components/button/button
include ../components/slider/slider
include ../components/modal/modal
include ../components/counter/counter



html
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Vanilla Boilerplate
    body(data-barba="wrapper")
        block content
        .container
            +main
            +modal


            
        

