mixin slider 
	<!-- Slider main container -->
	.swiper.mySwiper
		<!-- Additional required wrapper -->
		.swiper-wrapper
			<!-- Slides -->
			.swiper-slide
				img(src='https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884_1280.jpg')
			.swiper-slide 
				img(src='https://cdn.pixabay.com/photo/2022/03/01/20/58/peace-genius-7042013_1280.jpg')
			.swiper-slide
				img(src='https://cdn.pixabay.com/photo/2022/02/28/15/28/sea-7039471_1280.jpg')
			.swiper-slide
				img(src='https://cdn.pixabay.com/photo/2022/03/02/13/42/peace-7043225_1280.jpg')
			.swiper-slide
				img(src='https://cdn.pixabay.com/photo/2021/12/27/14/39/tulips-6897351_1280.jpg')
				

			
		<!-- If we need pagination -->
		.swiper-pagination
		<!-- If we need navigation buttons -->
	.swiper-buttons
		.swiper-button_prev <
			
		.swiper-button_next >





		//- <!-- If we need scrollbar -->
		//- .swiper-scrollbar

